@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');
html {
    scroll-behavior: smooth;
  }
body{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;

}
header{
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background-color: white;
	border-bottom: 1px solid #8A8C8C;
	position: fixed;
	z-index: 100;
}
.logo_heading_container{
	margin-top: 10px;
	background-color: white;
	width: 100%;
	height: 80px;
}
.logo-container,.heading-container{
	display: inline-block;
}
#home-logo{
	z-index: 100;
	margin-top: 18.5px;
	width: 185px;
}
.heading-container ul li{
	display: inline-block;
	transform: translateY(-20px);
}
.heading-container ul li a{
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	color: rgb(76, 68, 68);
}
#terms_of_use{
	margin-left: 180px;
}
#privacy_policy{
	margin-left: 150px;
}
#FAQ{
	margin-left: 150px;
}
#privacy_policy::after{
    content: "";
	position: absolute;
	background-color: #4B4B47;
	height: 2.68px;
	width: 145px;
	left: 136.5px;
	bottom: -15px;
 } 
 .overflow-scroll{
	display: inline-block;
 	width:20%;
 	height: 90vh;
 	background-color: white;
 	overflow: scroll;
 	border-right: 1px solid #8A8C8C;
 }
 .overflow-scroll a{
 	color: rgb(76, 68, 68);
 	text-decoration: none;
 }
 .overflow-scroll p{
 	margin-left: 25px;
 	font-size: 17.5px;
 	font-family: 'Rubik', sans-serif;
 }
 .overflow-scroll p:hover{
 	color: rgb(54, 50, 50);
	text-decoration: underline;
 }
 .intro-title{
 	margin-top: 70px;
 }
 .information-title{
 	margin-top: 50px;
 }
 .privacy-title{
 	margin-top: 50px;
 }
 .sharing-title{
 	margin-top: 50px;
 }
 .protecting-title{
 	margin-top: 50px;
 }
 .contact-title{
	margin-top: 50px;
}
.content-box{
	transform: translateY(-595px);
	width: 79%;
	display: inline-block;
	/* background-color: white; */
	background-color: gray;
}
#intro_id{
	text-align: center;
	font-size: 50px;
 	font-family: 'Rubik', sans-serif;
}